/* color code for website *
background color #08b2e3
background color for txt #ffebc6
background color for multiple choice # ffb100
wrong ans color rgb(255, 47, 47)
right ans color rgb(68, 255, 47)
*/
/* 
.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
*{
    margin: 0;
    font-family: "Outfit", sans-serif;

}
body{
    background-color: #08b2e3;
}
/* style for header */
.nicolle-quizheader{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.nicolle-quizheader h1{
    padding: 15px;
    width: fit-content;
    background-color:#ffebc6 ;
    border-radius: 10px;
}
.nicolle-quizheader h2{
    padding: 5px;
    margin-top: 20px;
    width:fit-content ;
    background-color:#ffebc6 ;
    border-radius: 10px;
}
/* style for questions */
.questionsAppear{
    margin-top: 50px;
   display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.questions{
display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;        
    background-color:#ffebc6 ;
                width: 450px;
    height: 250px;
    border-radius: 15px;


}
/* style for answers */
.answers ul{
    list-style: none;
    display: flex;
    justify-content: center;
     margin: 0;
  padding: 0;
}

.answers ul li{
    background-color: #ffb100;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
         margin: 25px;
         transition: 0.3s ease;
}
.answers ul li:hover{
    transform: scale(1.05);
        background-color: #e6a102;

}
/* buttons css */
.buttons{
    display: flex;
    justify-content: center;
}
.buttons h2{
    background-color: #ffebc6;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    transition: 0.3s ease;
}
.buttons h2:hover{
    transform: scale(1.1);
        background-color: #fff3dd;

}