*{
    background-image: url(https://wallpapers.com/images/hd/cookie-run-kingdom-action-rpg-tgbichpa9ymkvhhc.jpg);
    background-size: cover;
    height: 97vh;
    
    
}

h1{
    text-align: center;
  
}